@tailwind preflight;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  @apply bg-blue-darkest font-sans leading-normal;
}

p {
  font-family: 'Crimson Text', serif;
}

.not-found {
  margin-top: 80px;
}

/* buttons */
.btn {
  @apply no-underline text-sm font-semibold rounded px-8 py-3 leading-normal bg-blue-darkest text-white;
}

.btn:hover {
  @apply shadow-lg;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.transition {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* Nav */
.nav {
  @apply w-full flex items-center justify-between flex-wrap bg-white p-6 z-10 font-sans fixed shadow-lg border-t-4 border-blue-darkest;
}

.nav-brand {
  @apply flex items-center flex-no-shrink text-blue-darkest mr-6;
}

.nav-btn {
  @apply block text-blue-darkest;
}

.nav-menu {
  @apply hidden w-full text-blue-darkest;
}

.nav-link {
  @apply block py-4 no-underline text-blue-darkest font-semibold border-b-2 border-white;
}

/* headers */
.section-container {
  @apply px-0 w-full mx-auto text-center;
}

.section-header {
  @apply text-4xl text-blue-darker mb-8 pt-8;
}

.section-header-alternate {
  @apply text-4xl text-white mb-8 pt-8;
}

.section-subheader {
  @apply text-3xl text-blue-darker mb-8;
}

.section-content {
  @apply px-8 mb-8;
}

/* sections */
.home {
  @apply pb-8;
  background-image: linear-gradient(to top, #12283a 0%, #1c3d5a 100%);
}

.header {
  @apply text-4xl text-center text-white mt-12 mb-8 pt-16;
}

.home-list {
  @apply list-reset text-center;
}

.home-list-item {
  @apply text-2xl text-white py-2;
}

.home-container {
  @apply flex items-center flex-col h-screen;
}

.publications {
  @apply pb-8 bg-white;
  padding-top: 2.75rem;
}

.impact {
  @apply pb-8 bg-white;
  padding-top: 2.75rem;
}

.about {
  @apply pb-8 bg-grey-lightest;
  padding-top: 2.75rem;
}

.contact {
  @apply pb-8 bg-white;
  padding-top: 2.75rem;
}

.interaction {
  @apply pb-8 bg-grey-lightest;
  padding-top: 2.75rem;
}

.dev-experiences {
  @apply pb-8 bg-grey-lightest;
  padding-top: 2.75rem;
}

/* containers */
.card {
  @apply px-6 py-4 shadow-md text-center mx-8 my-4 border-t-4 border-blue-darkest rounded-sm bg-white;
}

.card-alternate {
  @apply mb-8;
}

.card-header {
  @apply leading-tight text-blue-darkest;
}

.impact .card-header {
  @apply mb-6;
}

.card-container {
  @apply flex flex-col w-full mb-4;
}

.card-text {
  @apply mb-6 mt-2;
}

.carousel {
  @apply mt-8;
}

.carousel-body {
  @apply mx-8 mb-8;
}

.comment-items {
  @apply mx-1 px-6 py-4 shadow-md text-center my-4 border-t-4 border-blue-darkest rounded-sm bg-white;
}

.footer-container {
  @apply px-0 py-8 w-full mx-auto text-center;
}

.footer-text {
  @apply text-xs text-white font-sans mb-2;
}

.footer-link {
  @apply text-sm text-white font-sans mb-2;
}

.contact-link {
  @apply no-underline text-blue-darkest flex flex-col justify-center items-center;
}

.contact-link>svg {
  @apply mb-2;
}

@screen md {
  .nav-link {
    @apply inline-block mt-0 mr-8 py-0 shadow-none;
  }

  .header {
    @apply text-5xl mt-0 pt-0;
  }

  .section-header {
    @apply text-5xl;
  }

  .section-header-alternate {
    @apply text-5xl;
  }

  .section-container {
    @apply px-8 w-3/4;
  }

  .section-content {
    @apply px-0;
  }

  .home-list-item {
    @apply py-0 px-8;
  }

  .home-list {
    @apply flex mb-16;
  }

  .home-container {
    @apply justify-center h-80vh;
  }

  .section-subheader {
    @apply text-4xl;
  }

  .comment-items {
    @apply mx-8;
  }

  .footer-text {
    @apply text-sm;
  }

  .contact .card-container {
    @apply flex-row justify-between;
  }

  .card-alternate {
    @apply flex-wrap;
  }

  .carousel-body {
    @apply mx-8;
  }

  .footer-container {
    @apply flex justify-between p-6;
  }
}

@screen lg {
  .nav-btn {
    @apply hidden;
  }

  .nav-menu {
    @apply block flex justify-between items-center w-auto flex-grow;
  }

  .section-container {
    @apply w-1/2;
  }

  .contact .section-container {
    @apply w-2/3;
  }
}
